@import './theme';
@import '../node_modules/highlight.js/styles/atom-one-dark.css';

body {
  margin: 0;
  background: $global-bg;
}

.slides-container {
  background: $slide-bg;
  position: fixed;
  overflow: hidden;

  .slides {
    height: 100%;
    display: flex;
    &.enable-transition {
      transition: margin-left $slide-transition;
    }

    .slide {
      flex: 1 1 auto;
      padding: $slide-padding-top $slide-padding-right $slide-padding-bottom $slide-padding-left;

      font-family: $default-font;
      font-size: $default-font-size;

      * {
        position: relative;
        transform-origin: 0 0;
      }

      h1 {
        font-family: $title-font;
        font-size: $title-font-size;
      }
      pre code {
        font-family: $code-font;
        font-size: $code-font-size;
      }
    }
  }
}
