$slide-bg: #F2F1EF !default;
$global-bg: darken($slide-bg, 80) !default;

$slide-transition: .5s !default;

$slide-padding-top: 1em;
$slide-padding-bottom: 1em;
$slide-padding-left: 4em;
$slide-padding-right: 4em;