@mixin proportional-position($a: 1, $b: $a) {
  top: 0;
  left: calc(50vw - #{$a/$b/2*100vh});

  @media (max-aspect-ratio: #{$a}/#{$b}) {
    top: calc(50vh - #{$b/$a/2*100vw});
    left: 0;
  }
}

@mixin proportional-size($a: 1, $b: $a) {
  width: $a/$b*100vh;
  height: 100vh;

  @media (max-aspect-ratio: #{$a}/#{$b}) {
    width: 100vw;
    height: $b/$a*100vw;
  }
}
