/**
 * Colors
 */

$slide-bg: #F2F1EF !default;
$global-bg: darken($slide-bg, 80) !default;


/**
 * Code Colors
 */

@import '../../node_modules/highlight.js/styles/atom-one-dark.css';


/**
 * Fonts
 */

$default-font: sans-serif !default;
$default-font-size: 2em !default;

$title-font: sans-serif !default;
$title-font-size: 3em !default;

$code-font: monospace !default;
$code-font-size: 1em !default;



/**
 * Slide Padding
 */

$slide-padding-top: 1em !default;
$slide-padding-bottom: 1em !default;
$slide-padding-left: 4em !default;
$slide-padding-right: 4em !default;


/**
 * Transitions
 */

$slide-transition: .3s ease-out !default;
